
.container {
    margin: 0 auto;
    max-width: 30%;
    width: 100%;
}

.app {
    &__form-wrapper{
        padding: 10px;
        border:solid 3px blue;
        border-radius:10px;
        margin-top: 30px;
    }
}